Repository henculus/blog, pull requests merged in 2019-08, with the labels that each got.

#20 Feature #18
  .gitignore
  .gitlab-ci.yml
  .idea/henculus-blog.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  LICENSE
  README.md
  frontend/.gitignore
  frontend/README.md
  old-frontend/.env.development
  old-frontend/README.md
  old-frontend/babel.config.js
  old-frontend/package.json
  old-frontend/public/favicon.png
  old-frontend/public/index.html
  old-frontend/src/App.vue
  old-frontend/src/assets/logo.png
  old-frontend/src/components/auth/Auth.vue
  old-frontend/src/components/nav/NavBar.vue
  old-frontend/src/components/nav/NavUser.vue
  old-frontend/src/components/posts/Post.vue
  old-frontend/src/components/posts/PostBody.vue
  old-frontend/src/components/posts/PostPreview.vue
  old-frontend/src/components/posts/PostTitle.vue
  old-frontend/src/components/posts/Posts.vue
  old-frontend/src/http-common.js
  old-frontend/src/main.js
  old-frontend/src/store.js
Labels: backend, enhancement, frontend

#21 Test Release
  .gitignore
  .gitlab-ci.yml
  .idea/henculus-blog.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  LICENSE
  README.md
  frontend/.gitignore
  frontend/README.md
  old-frontend/.env.development
  old-frontend/README.md
  old-frontend/babel.config.js
  old-frontend/package.json
  old-frontend/public/favicon.png
  old-frontend/public/index.html
  old-frontend/src/App.vue
  old-frontend/src/assets/logo.png
  old-frontend/src/components/auth/Auth.vue
  old-frontend/src/components/nav/NavBar.vue
  old-frontend/src/components/nav/NavUser.vue
  old-frontend/src/components/posts/Post.vue
  old-frontend/src/components/posts/PostBody.vue
  old-frontend/src/components/posts/PostPreview.vue
  old-frontend/src/components/posts/PostTitle.vue
  old-frontend/src/components/posts/Posts.vue
  old-frontend/src/http-common.js
  old-frontend/src/main.js
  old-frontend/src/store.js
Labels: backend, documentation, enhancement, frontend, infrastructure

#22 Fixed manual deploy for master branch
  .gitlab-ci.yml
Labels: enhancement, infrastructure

#24 Logout registered in routes list
  src/main.rs
Labels: backend, bug

#33 Mobile version of context menu for authorized user
  frontend/src/components/Modal.vue
  frontend/src/components/TopBarContextMenu.vue
  frontend/src/variables.sass
Labels: enhancement, frontend

#39 Blog issue #15
  src/main.rs
  src/users_view.rs
Labels: backend, enhancement

#40 Задача #32: Конфигруация докер-контейнера
  .dockerignore
  .gitignore
  .idea/henculus-blog.iml
  Dockerfile
  Procfile
  backend/Cargo.toml
  backend/Rocket.toml
  backend/RustConfig
  backend/diesel.toml
  backend/migrations/.gitkeep
  backend/migrations/00000000000000_diesel_initial_setup/down.sql
  backend/migrations/00000000000000_diesel_initial_setup/up.sql
  backend/migrations/2019-03-04-133952_create_posts/down.sql
  backend/migrations/2019-03-04-133952_create_posts/up.sql
  backend/migrations/2019-03-12-184711_create_users/down.sql
  backend/migrations/2019-03-12-184711_create_users/up.sql
  backend/migrations/2019-03-21-113126_add_author/down.sql
  backend/migrations/2019-03-21-113126_add_author/up.sql
  backend/migrations/2019-04-01-212039_add_published/down.sql
  backend/migrations/2019-04-01-212039_add_published/up.sql
  backend/migrations/2019-04-07-104013_remove_default_author/down.sql
  backend/migrations/2019-04-07-104013_remove_default_author/up.sql
  backend/rust-toolchain
  backend/src/error.rs
  backend/src/main.rs
  backend/src/post.rs
  backend/src/posts_view.rs
  backend/src/schema.rs
  backend/src/tests.rs
  backend/src/user.rs
  backend/src/users_view.rs
  nginx/app.conf
  nginx/app.template
Labels: enhancement, infrastructure

#45 Задача #43: перенастройка CI для построения Docker контейнера
  .gitlab-ci.yml
  backend/RustConfig
  backend/rust-toolchain
Labels: enhancement, infrastructure

#46 Fixed migrations for new structure
  .gitlab-ci.yml
Labels: bug, infrastructure

#47 Fixed wrong command order
  .gitlab-ci.yml
Labels: bug, infrastructure

#48 Fixed dir for rest of commands
  .gitlab-ci.yml
Labels: bug, infrastructure

#36 State of loading
  .idea/blog.iml
  .idea/inspectionProfiles/profiles_settings.xml
  frontend/.idea/frontend.iml
  frontend/.idea/inspectionProfiles/Project_Default.xml
  frontend/.idea/inspectionProfiles/profiles_settings.xml
  frontend/.idea/misc.xml
  frontend/.idea/modules.xml
  frontend/.idea/vcs.xml
  frontend/src/components/Modal.vue
  frontend/src/components/ModalAuthorization.vue
  frontend/src/components/ModalAuthorizationLogin.vue
  frontend/src/components/TopBarContextMenu.vue
  frontend/src/storage_modules/Authorization.js
Labels: enhancement, frontend

#35 Registration added
  frontend/src/components/ModalAuthorizationRegistration.vue
Labels: enhancement, frontend

#52 Now articles list loads from server
  frontend/src/App.vue
  frontend/src/components/ArticleList.vue
  frontend/src/components/ArticleListItem.vue
  frontend/src/components/ComponentLoading.vue
  frontend/src/components/Modal.vue
  frontend/src/components/ModalAuthorizationLogin.vue
  frontend/src/components/ModalAuthorizationRegistration.vue
  frontend/src/components/TopBar.vue
  frontend/src/components/TopBarContextMenu.vue
  frontend/src/router.js
  frontend/src/storage_modules/Authorization.js
  frontend/src/variables.sass
Labels: enhancement, frontend

#58 Fixed routes ranking for get_post
  backend/src/posts_view.rs
Labels: backend, bug

#61 Removed unused imports
  backend/src/main.rs
  backend/src/user.rs
  backend/src/users_view.rs
Labels: backend, enhancement

#62 Feature blog 56
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/ComponentLoading.vue
  frontend/src/components/ModalAuthorizationLogin.vue
  frontend/src/components/TopBar.vue
  frontend/src/components/TopBarContextMenu.vue
  frontend/src/storage_modules/Authorization.js
  frontend/src/variables.sass
Labels: enhancement, frontend

#71 Logout now is a storage action
  frontend/src/components/TopBarContextMenu.vue
  frontend/src/storage_modules/Authorization.js
Labels: enhancement, frontend

#73 Now promise processed in component
  frontend/src/App.vue
  frontend/src/components/ModalAuthorizationLogin.vue
  frontend/src/components/TopBarContextMenu.vue
  frontend/src/storage_modules/Authorization.js
Labels: enhancement, frontend

#78 Removed token guard from get users route #63
  backend/src/users_view.rs
Labels: backend, invalid

#69 Blog issue #44
  backend/src/main.rs
  backend/src/user.rs
  backend/src/users_view.rs
Labels: backend, enhancement

#77 Now images little bit bigger and displayed on mobile devices
  frontend/src/components/ArticleListItem.vue
Labels: enhancement, frontend

#80 Задача #30: Условное получение списка публикаций
  backend/src/posts_view.rs
Labels: backend, enhancement

#82 Задача #81: Исправлен баг при получении публикации по id
  backend/src/main.rs
  backend/src/posts_view.rs
Labels: backend, bug

#84 Задача #83: Добавлены конфигурации запуска для папки проекта
  .idea/runConfigurations/blog.xml
  .idea/runConfigurations/web.xml
Labels: backend, enhancement, infrastructure

#85 Prototype of lazy image component with padding prop
  frontend/src/components/ArticleComponent.vue
  frontend/src/components/ArticleListItem.vue
  frontend/src/components/LazyImage.vue
Labels: enhancement, frontend

#89 Added token deletion from cookie in delete user method #68
  backend/src/users_view.rs
Labels: backend, bug

#92 Now registration in storage
  frontend/src/components/Modal.vue
  frontend/src/components/ModalAuthorizationLogin.vue
  frontend/src/components/ModalAuthorizationRegistration.vue
  frontend/src/storage_modules/Authorization.js
Labels: enhancement, frontend

#91 Changed font and article size, now scroll displayed in all pages
  frontend/src/App.vue
  frontend/src/components/ArticleComponent.vue
  frontend/src/variables.sass
Labels: bug, frontend

#95 Feature blog 93/67
  frontend/src/assets/TestLogo.jpg
  frontend/src/components/ArticleComponent.vue
  frontend/src/components/ArticleList.vue
  frontend/src/components/IntersectionObserver.vue
  frontend/src/components/LazyImage.vue
  frontend/src/components/TopBar.vue
  frontend/src/components/TopBarContextMenu.vue
  frontend/src/variables.sass
Labels: bug, enhancement, frontend

#94 (WIP) Blog issue #41
  blog-api.yaml
Labels: backend, enhancement, help wanted

#98 Feature blog 96
  frontend/src/components/ArticleComponent.vue
  frontend/src/components/ArticleList.vue
  frontend/src/components/ArticleListItem.vue
  frontend/src/components/IntersectionObserver.vue
  frontend/src/components/LazyImage.vue
  frontend/src/variables.sass
Labels: enhancement, frontend

#101 Now only high res images have delay to load
  frontend/src/components/LazyImage.vue
Labels: enhancement, frontend

#104 Feature blog 103
  frontend/public/index.html
  frontend/src/components/ArticleFeed.vue
  frontend/src/components/ArticleList.vue
  frontend/src/components/LazyImage.vue
  frontend/src/components/TopBarContextMenu.vue
  frontend/src/components/UserPublications.vue
  frontend/src/router.js
Labels: enhancement, frontend

#107 Fixed components name
  frontend/src/components/TopBarContextMenu.vue
  frontend/src/components/UserPublications.vue
  frontend/src/router.js
Labels: bug, frontend

#109 Feature blog 102
  backend/src/main.rs
  backend/src/posts_view.rs
Labels: backend, infrastructure

#112 Creating session on registration added #64
  backend/src/users_view.rs
Labels: backend, enhancement

#120 blog-3: Feature blog image service
  .idea/henculus-blog.iml
  image-service/Cargo.toml
  image-service/src/main.rs
Labels: backend, enhancement, image-resize
