Repository henculus/blog, pull requests merged in 2019-09, with the labels that each got.

#125 Feature blog 108
  .idea/codeStyles/Project.xml
  frontend/.idea/codeStyles/codeStyleConfig.xml
  frontend/src/App.vue
  frontend/src/api.js
  frontend/src/article_style.sass
  frontend/src/components/ArticleComponent.vue
  frontend/src/components/ArticleFeed.vue
  frontend/src/components/ArticleList.vue
  frontend/src/components/LazyImage.vue
  frontend/src/components/Modal.vue
  frontend/src/components/ModalAuthorization.vue
  frontend/src/components/ModalAuthorizationLogin.vue
  frontend/src/components/ModalAuthorizationRegistration.vue
  frontend/src/components/TopBar.vue
  frontend/src/components/TopBarContextMenu.vue
  frontend/src/components/UserPublications.vue
  frontend/src/components/editor/ArticleEditorTextEditor.vue
  frontend/src/components/editor/ArticlesEditor.vue
  frontend/src/directives.js
  frontend/src/main.js
  frontend/src/router.js
  frontend/src/server_defaults.js
  frontend/src/storage.js
  frontend/src/storage_modules/Authorization.js
  frontend/src/storage_modules/ModalShown.js
Labels: enhancement, frontend

#126 Feature blog 114
  .idea/runConfigurations/image_service.xml
  image-service/Cargo.toml
  image-service/src/error.rs
  image-service/src/img.rs
  image-service/src/imgur_adapter.rs
  image-service/src/main.rs
  image-service/src/multipart_reader.rs
  image-service/src/views.rs
Labels: enhancement, image-resize

#127 Feature blog 117
  Dockerfile
  image-service/Cargo.toml
  image-service/src/error.rs
  image-service/src/img.rs
  image-service/src/imgur_adapter.rs
  image-service/src/main.rs
  image-service/src/views.rs
  nginx/app.template
Labels: enhancement, image-resize

#130 md editor inserted to module
  frontend/src/components/editor/ArticleEditorTextEditor.vue
Labels: enhancement, frontend

#133 Fixed context menu on editor page
  frontend/.idea/codeStyles/Project.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/editor/ArticleEditorTextEditor.vue
Labels: bug, frontend
